@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Projekt zaliczeniowy z przedmiotu Aplikacje WWW</h2>
    <p>Kliknij na górze zakładkę Students, aby przejść dalej</p>
</div>
